input{
    border: none;
    background-color: ghostwhite;
    border-radius: 6px;

}
.form input[type="text"],.form input[type="password"]{
    width: 220px;
    transition: 0.2s;
    }
    .form input[type="text"]:focus,.form input[type="password"]:focus{
    width: 250px;
    outline: ghostwhite;
    background-color: #e6dcdc69;
    
}
    
